@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}
    /* navbar styling */
.navbar{
  position: fixed;
  width: 90%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: black;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: crimson;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}
    /* menu btn styling */
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.fixed {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: black;
  z-index: 9999;
  box-sizing: border-box;
  border: 5px #fff;
  padding: 10px 5px
}
.main {
  position: absolute;
  border: 5px #111;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  line-height: 1.3;
  color: white;
  padding: 45px;
  background-color: transparent;
  margin-top: 100px;
}
 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { margin: 0 auto; }



.left-column, .right-column {  border: 1px solid  #ccc; padding: 1.25em; margin: .5em; }

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {

  .columns-container { 
    float: left;
  }

  .left-column { 
    margin-right: 20em;
    float: left;
  }

  .right-column { 
    width: 18.75em;
    margin-left: -19.3em;
    float: left;
  }   
}

/* footer section styling */
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
/* responsive media query start */

@media (max-width: 991px) {
  .max-width{
    padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
