@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    html{
           scroll-behavior: smooth;
    }
    html, body {
      height: 100%;
    }
    html {
      position: relative;
      min-height: 100%;
    }

/* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .scroll-up-btn{
    	position: fixed;
        height: 45px;
        width: 42px;
        background: crimson;
        right: 30px;
        bottom: 10px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        z-index: 9999;
        font-size: 30px;
        border-radius: 6px;
        border-bottom-width: 2px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .scroll-up-btn.show{
    	bottom: 30px;
        opacity: 1;
        pointer-events: auto;
    }
    .scroll-up-btn:hover{
        filter: brightness(90%);
    }
    /* navbar styling */
    .navbar{
    	position: fixed;
        width: 100%;
        z-index: 999;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        transition: all 0.3s ease;
    }
    .navbar.sticky{
    	padding: 15px 0;
        background: crimson;
    }
    .navbar .max-width{
    	display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .logo a{
    	color: black;
        font-size: 35px;
        font-weight: 600;
    }
    .navbar .logo a span{
    	color: crimson;
        transition: all 0.3s ease;
    }
    .navbar.sticky .logo a span{
        color: #fff;
    }
    .navbar .menu li{
        list-style: none;
        display: inline-block;
    }
    .navbar .menu li a{
        display: block;
        color: black;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
    }
    .navbar .menu li a:hover{
        color: crimson;
    }
    .navbar.sticky .menu li a:hover{
        color: #fff;
    }
    /* menu btn styling */
    .menu-btn{
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
    }
    .scroll-up-btn{
        position: fixed;
        height: 45px;
        width: 42px;
        background: crimson;
        right: 30px;
        bottom: 10px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        z-index: 9999;
        font-size: 30px;
        border-radius: 6px;
        border-bottom-width: 2px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .scroll-up-btn.show{
        bottom: 30px;
        opacity: 1;
        pointer-events: auto;
    }
    .scroll-up-btn:hover{
        filter: brightness(90%);
    }

    .fixed {
    	position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: black;
        z-index: 9999;
        box-sizing: border-box;
        border: 5px #fff;
        padding: 10px 5px
    }
    .two-column-wrapper {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .profile-image-wrapper img {
       width: 100%;
    }
    .profile-content-wrapper {
       padding: 30px;
    }

    .profile-content-wrapper h1 {
       color: lightseagreen;
    }
       color: #FFF;
    }
    dl.faq button {
        margin: 0;
        padding: 0;
        margin-top: 1em;
        font-weight: bold;
        font-size: 110%;
        border: thin solid transparent;
        background-color: transparent;
        padding-left: 0.125em;
    }

    dl dd {
        margin: 0;
        padding: 0;
        margin-left: 1.5em;
    }

    dl.faq .desc {
        margin: 0;
        padding: 0.5em;
        font-size: 110%;
        display: none;
        background-color: #fffedb;
    }

   dl.faq button:hover,
   dl.faq button:focus {
    background-color: #eee;
   }

   dl.faq button:focus {
    border-color: #630;
   }

   dl.faq button:hover {
    text-decoration: underline;
   }

   dl.faq button:active {
    background-color: #bbb;
   }

   dl.faq button[aria-expanded="false"]::before {
    content: url('../images/right-arrow-brown.png');
    padding-right: 0.35em;
   }

   dl.faq button[aria-expanded="true"]::before {
    content: url('../images/down-arrow-brown.png');
    padding-right: 0.35em;
   }